<!DOCTYPE html>
<HTML>
    <head>
        <title>Über Mich </title>

    </head>
    <body>
        <h1> Kleines Bio</h1>
            <P> Mein Name ist Nicolas, ich bin 28 jahre Alt und ich komme aus Buenos Aires, Argentina </P>
            <p> Beruflich war ich Pianist, aber während der Quarentene habe ich beschlossen, Programmieren zu lernen</p>
        <h2> Erinnerungen eines alten Lebens </h2>
            <p>Wenn Sie sich dafür interessiert wäre, könnten Sie manche Aufnahmen von mir auf Youtube finden</p>
            <p><a href="youtube.com/nicolasnazos">Einfach hier clicken</a></p>



    </body>

















</HTML>